<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">
    <header>
        <h1><%= title %></h1>
    </header>
    <div role="main">
        <p><%= content %></p>
    </div>

    <form method="post" action="/hello/post" >
        <label for="msg">Message:</label>
        <input type="text" name="message" id="msg">
        <input type="submit" value="é€ä¿¡">
    </form>
    
</body>
</html>