<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/" method="post">
      <h2>タスクの追加</h2>
      <input required type="text" name="add" placeholder="何をすべき？" />
      <input type="submit" value="追加" />
    </form>
    <h2>Todo一覧</h2>
    <ol>
      <% todos.forEach(todo=> { %>
        <li><%= todo.content %></li>
      <% }) %> 
    </ol>
  </body>
</html>
